.home_individual_quick_order {
  display: flex;
  flex-direction: column;
  width: 21.5625rem;
  overflow-x: auto;
  gap: 3%;
  white-space: nowrap;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.home_individual_quick_order::-webkit-scrollbar {
  display: none;
}

.home_individual_quick_order_title {
  display: flex;
  align-items: center;
  color: var(--title, #2e2d2d);
  font-family: "Pretendard Variable";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 1.4625rem */
  letter-spacing: -0.01125rem;
}

.home_individual_quick_order_guide {
  width: 1.32181rem;
  height: 1.32181rem;
  margin-left: 0.31rem;
}

.home_individual_quick_order_list {
  width: 10.375rem;
  height: 7rem;
  box-shadow: 0.25px 0.25rem 0.2rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  text-decoration: none;
}

.home_individual_quick_order_item {
  padding: 0 4rem 0 0;
  width: 10.375rem;
}

.home_individual_quick_order_item_name {
  color: #4f4f4f;
  font-family: "Pretendard Variable";
  font-weight: bold;
  font-style: normal;
  font-size: 0.9375rem;
  margin: 1rem 7% 0 7%;
  white-space: nowrap; /* 텍스트를 한 줄에 나타내기 */
  overflow: hidden; /* 텍스트가 넘어갈 경우 숨기기 */
  text-overflow: ellipsis; /* 생략 부호(...) 표시 */
}

.home_individual_quick_order_item_name_detail {
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  color: black;
  margin: 2rem 7% 0 7%;
  white-space: nowrap; /* 텍스트를 한 줄에 나타내기 */
  overflow: hidden; /* 텍스트가 넘어갈 경우 숨기기 */
  text-overflow: ellipsis; /* 생략 부호(...) 표시 */
}

.home_individual_quick_order_item_name_price {
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  color: black;
  margin: 0 7% 0 7%;
}

.home_individual_quick_order_none {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21.5625rem;
  height: 5.75rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  color: #4f4f4f;
  font-family: "Pretendard Variable";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.0625rem; /* 121.429% */
}
