.order-process-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* height: 100%; */
}

.order-process-page__menu__img {
  display: flex;
  width: 8.62838rem;
  height: 10.25rem;
  padding: 0rem 0.62838rem 0rem 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.order-process-page__menu__name {
  color: var(--Dark, #1e232c);
  width: fit-content;
  font-family: "Bold";
  font-size: 1.25rem;
  line-height: 130%; /* 1.625rem */
  letter-spacing: -0.0125rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.62rem;
  margin-bottom: 1.13rem;
}

.order-process-page__toggle {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.order-process-page__toggle__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: #fff;
  /* box-shadow: 0px 3px 3px 0px rgba(164, 164, 164, 0.25); */
  padding-bottom: 0.63rem;
}

.order-process-page__toggle__header {
  display: flex;
  height: 2.875rem;
  flex-shrink: 0;
  background: #fff;
  color: #000;
  font-family: "SemiBold";
  font-size: 1.125rem;
  line-height: 130%; /* 1.4625rem */
  letter-spacing: 0.0225rem;
  padding-left: 1.44rem;
  padding-right: 1.32rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 3px 0px rgba(164, 164, 164, 0.25);
}

.order-process-page__toggle__header.open{
  box-shadow: none;
}

.order-process-page__toggle__header.option {
  display: flex;
  height: 2.875rem;
  flex-shrink: 0;
  background: #fff;
  color: #000;
  font-family: "SemiBold";
  font-size: 1.125rem;
  line-height: 130%; /* 1.4625rem */
  letter-spacing: 0.0225rem;
  padding-left: 1.44rem;
  padding-right: 1.32rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.order-process-page__selected-radio {
  margin-right: 1.4rem;
}

.order-process-page__toggle__body__container.open{
  box-shadow: 0 0.1875rem 0.1875rem rgba(164, 164, 164, 0.25);
}

.order-process-page__toggle__body {
  display: none;
}

.order-process-page__toggle__body.open{
  display: flex;
  flex-direction: column;
  padding: 0 1.75rem;
  align-items: center;
  box-shadow: 0 0.1875rem 0.1875rem rgba(164, 164, 164, 0.25);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding-top 0.3s ease, padding-bottom 0.3s ease; /* transition 추가 */
}

.order-process-page__toggle__body__radio {
  display: flex;
  width: 85%;
  margin: 0 auto 1.56rem auto;
  /* height: fit-content; */
  font-family: "Medium";
  font-size: 1.125rem;
  line-height: normal;
  align-items: center;
  margin-bottom: 1.56rem;
}

.order-process-page__toggle__body__radio input[type="radio"]{
  display: flex;
  appearance: none;
  width: 1.5625rem;
  height: 1.5625rem;
  border: 0.125rem solid #000;
  border-radius: 3.125rem;
}

.order-process-page__toggle__body__radio input[type="radio"]:checked{
  border: 0.125rem solid #000;
  background-color: #d82356;
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.order-process-page__toggle__body__radio label {
  display: flex;
  align-items: center;
  font-family: "Medium";
  font-size: 1.125rem;
}

.order-process-page__toggle__body__radio label span {
  margin-left: 0.5rem;
}

.order-process-page__option__title__wrapper{
  text-align: left;
  width: 100%;
}

.order-process-page__option__title{
  font-family: "Bold";
  font-size: 1.125rem;
  color: #000;
}

.option__checkbox__wrapper{
  width: 85%;
  margin: 1rem auto 0 auto;
  text-align: left;
}

.option__checkbox__wrapper input[type="checkbox"]{
  display: flex;
  appearance: none;
  width: 1.5625rem;
  height: 1.5625rem;
  border: 0.125rem solid #000;
  border-radius: 3.125rem;
}


.option__checkbox__wrapper input[type="checkbox"]:checked {
  border: 0.125rem solid #000;
  background-color: #d82356;
  background-size: 100% 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}

.option__checkbox__wrapper label{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.option__checkbox__wrapper label span{
  font-family: "Medium";
  font-size: 1.125rem;
  margin-left: 0.5rem;
}

.option__line{
  height: 0.125rem;
  width: 100%;
  background-color: #dadada;
  margin: 1rem 0;
}

.order-process-page-quantity__wrapper{
  display: flex;
  gap: 0.625rem;
}

.order-process-page__img__wrapper{
  display: flex;
  align-items: center;
}

.order-process-page__img__wrapper img{
  width: 1.35rem;
  height: 1.35rem;
}

.order-process-page-quantity__txt{
  width: 1rem;
  text-align: center;
}

.order-process-page__quantity {
  display: flex;
}

.order-process-page__quantity__value {
  display: flex;
  margin-left: 0.87rem;
  margin-right: 0.87rem;
}

.order-process-page__total-amount {
  display: flex;
  color: #000;
  text-align: right;
  font-family: "Semibold";
  font-size: 1.125rem;
  line-height: 130%; /* 1.4625rem */
  letter-spacing: 0.0225rem;
  justify-content: flex-end;
  margin-top: 2rem;
  margin-bottom: 2.38rem;
  margin-left: 14.31rem;
  margin-right: 1.5rem;
}

.order-process-page__total-amount__name {
  margin-right: 1.37rem;
  white-space: nowrap;
}

.order-process-page__total-amount__price {
  white-space: nowrap;
}

.order-process-page__cart__btn {
  display: flex;
  width: 17.8505rem;
  height: 3.1875rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #d82356;
  color: #fff;
  text-align: center;
  font-family: "Bold";
  font-size: 1.125rem;
  line-height: 130%; /* 1.4625rem */
  letter-spacing: -0.01125rem;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.38rem;
}
