.slider {
  position: relative;
  height: 100px; /* 배너 높이에 맞게 조절 */
  width: 300px; /* 배너 너비에 맞게 조절 */
  overflow: hidden;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.image {
  width: 100%;
  height: auto;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.slider-index {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 14px;
}
