.store_list {
  width: 90%;
  color: var(--title, #2e2d2d);
  font-family: "Pretendard Variable";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 1.4625rem */
  letter-spacing: -0.01125rem;
  margin-left: auto;
  margin-right: auto;
}

.store_list_list {
  width: 100%;
  margin-top: 0.5rem;
}

.store_list_item {
  position: relative;
  width: 100%;
  height: 13.5625rem;
  border-radius: 0.5rem;
  background: #fff;
  overflow: hidden;
  margin-bottom: 1.31rem;
  box-shadow: 0.25px 0.25rem 0.2rem rgba(0, 0, 0, 0.2);
}

.store_list_cafe_img {
  width: 100%;
  height: 7.625rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  object-fit: cover;
}

.store_list_cafe_close {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7.625rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  z-index: 1;
  object-fit: cover;
}

.store_list_cafe_name {
  color: var(--Dark, #1e232c);
  font-family: "Pretendard Variable";
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 1.38125rem */
  letter-spacing: -0.01063rem;
  margin-top: 0.62rem;
  margin-left: 0.69rem;
  margin-bottom: 0.06rem;
}

.store_list_cafe_address {
  color: #838383;
  font-family: "Pretendard Variable";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 0.975rem */
  letter-spacing: -0.0075rem;
  margin-left: 0.69rem;
}

.store_list_cafe_event {
  display: flex;
  align-items: center;
  color: #d82356;
  font-family: "Pretendard Variable";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 0.975rem */
  letter-spacing: -0.0075rem;
  margin-top: 0.62rem;
  margin-left: 0.69rem;
  margin-bottom: 1.12rem;
}

.store_list_cafe_event_icon {
  width: 1.00294rem;
  height: 1.125rem;
  margin-right: 0.37rem;
}
