.myprofile {
  width: 100%;
  padding-top: 4.44rem;
}

.myprofile_management {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 0.3rem solid #d82356;
  padding-top: 3.12rem;
  margin-top: 1.5rem;
}

.myprofile_info {
  color: var(--kakao-logo, #000);
  font-family: "Pretendard Variable";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 1.4625rem */
  letter-spacing: 0.0225rem;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.myprofile_info_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: 4.56rem;
  border-bottom: 0.01rem solid #dadada;
  color: #4f4f4f;
  font-family: "Pretendard Variable";
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 0.8125rem */
  padding-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.myprofile_info_content {
  display: flex;
  align-items: center;
  color: var(--kakao-logo, #000);
  font-family: "Pretendard Variable";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 1.1375rem */
  padding: 0.63rem 0 1rem 0;
}

.myprofile_setting {
  display: flex;
  justify-content: center;
  color: #919191;
  font-family: "Pretendard Variable";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 15rem;
  margin-bottom: 5.25rem;
}
