.service-div {
  width: 100%;
  height: 94vh;
  padding-top: 4.44rem;
}

.service-head {
  width: 100%;
  border-top: 0.3rem solid #d82356;
  padding-top: 3.12rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem auto;
}
.service-name {
  font-family: "Pretendard Variable";
  font-weight: 600;
  font-size: 1.125rem;
}

.service-text {
  margin: 0 auto;
}
.service-time {
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 1.125rem;
  color: #838383;
}
.service-chat {
  margin: 0 auto;
}
