.navbar {
  position: fixed;
  bottom: 0;
  height: 5.0625rem;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
  box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.15);
  background: #fff;
  -webkit-tap-highlight-color: transparent;
}
