.status-container {
  width: 100%;
}

.status-nav-bar__wrapper {
  display: flex;
  flex-direction: column;

  position: relative;
}

.status-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 90%;
  margin: 0 auto;
}

.status-time-wrapper {
  position: absolute;
  top: 2.125rem;
  right: calc(5% + 6.3125rem * 0.16);
  width: 6.3125rem;
  height: 1.5rem;
}

.status-time {
  display: flex;
  border: 1.5px solid #d82356;
  border-radius: 1.25rem;
  width: 100%;
  padding: 5% 8%;

  font-size: 0.625rem;
  font-family: "Pretendard Variable";
  font-weight: 700;
}

.status-time span {
  text-align: center;
  line-height: 1.0625rem;
  width: 100%;
  white-space: nowrap;
}

.status-time-img__wrapper {
  display: flex;
  align-items: center;
  margin-right: 3%;
}

.status-main-wrapper {
  display: flex;
  flex-direction: column;

  width: 90%;
  height: 93%;
  margin: 0 auto;
}

.status-top-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* 342px */
  max-height: 21.375rem;
  /* height: 21.375rem; */
}

.status-top-wrapper.space {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-height: 21.375rem;
  /* height: 21.375rem; */
  /* height: 342px; */
}

.status-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* height: 60%; */
  height: 9.375rem;
}

.status-number-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* height: 60%; */
  height: 9.375rem;
  margin: 0 auto;
}

.logo-img-wrapper.center {
  text-align: center;
}

.logo-img {
  width: 2.875rem;
  height: 2.875rem;
  margin: 0 auto;
}

.status-title {
  color: #4f4f4f;
  font-size: 1.875rem;
  font-family: "Pretendard Variable";
  font-weight: 700;
}

.status-number {
  color: #4f4f4f;
  font-size: 3.125rem;
  font-family: "Pretendard Variable";
  font-weight: 700;
  margin: 0 auto;
}

/* 진행바 */
.status-progressbar-wrapper {
  margin: 12% 0 18% 0;
}

.progressbar-wrapper {
  position: relative;
  height: 40%;
}

.status-progressbar {
  display: flex;
  flex-direction: row;
  gap: calc((100% - 4.8rem) / 3);

  width: 95%;
  height: 1.2rem;
  background-color: #ffe2ed;
  border-radius: 0.8rem;
  margin: 0 auto;
}

.status-progressbar-degree-wrapper {
  width: 100%;
  margin: 0 auto;

  position: absolute;
  top: 0;
  left: calc((100% - 95%) / 2);
  z-index: 1;
}

.status-progressbar-degree {
  width: calc(100% * 0.1);
  height: 1.2rem;
  background-color: #d82356;
  border-radius: 0.8rem;
  z-index: 101;
}

.status-progressbar-circle {
  width: 1.2rem;
  height: 1.2rem;
  background-color: rgba(216, 35, 86, 0.2);
  border-radius: 8.33rem;
}

.status-explain-wrapper {
  display: flex;
  flex-direction: row;
  gap: calc((100% - 12.965rem) / 3);
}

.status-explain {
  font-size: 0.9375rem;
  color: #d82356;
  font-family: "Pretendard Variable";
  font-weight: 700;
  flex-shrink: 0;
}

/* 주문 매장, 내역 */
.status-content-container {
  width: 95%;
  height: 60%;
  margin: 0 auto;
  /* padding-top: 1.875rem; */
}

.status-content-wrapper {
  display: flex;
  flex-direction: row;
  /* padding: 0.5rem 0; */
  height: 2.125rem;
  line-height: 2.125rem;
}

.status-content-subtitle {
  color: #000;
  font-size: 0.8125rem;
  font-family: "Pretendard Variable";
  font-weight: 700;
  width: 27%;
  white-space: nowrap;
}

.status-content {
  display: flex;
  flex-direction: row;

  color: #838383;
  font-size: 0.9375rem;
  font-family: "Pretendard Variable";
  font-weight: 700;
  width: 63%;
  white-space: nowrap;
}

.status-detail__wrapper {
  display: flex;
  justify-content: flex-end;
}

.status-detail {
  display: flex;
  width: 5.5625rem;
  height: 1.5rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  border: 1px solid #4f4f4f;
  color: #4f4f4f;
  font-family: "Pretendard Variable";
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 0.89375rem */
  letter-spacing: -0.00688rem;
  align-items: center;
  justify-content: center;
}

/* 주문 취소 */
.btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30%;
  /* height: 5%; */
  /* height: 50%; */

  text-align: center;
  margin: 2rem auto;
}

.cancle-btn {
  color: #838383;
  border: 1px solid #dadada;
  border-radius: 0.625rem;
  padding: 3% 5%;
  white-space: nowrap;
}

/* 주문 완료 */
.compelete-wrapper {
  /* height: 50%; */
  height: calc(100% - 21.375rem);
  min-height: 21.875rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: relative;
}

.compelete-img {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 17.5625rem;
  height: 14.125rem;
  background-color: #e6e6e6;
  /* margin: 0 auto 1rem auto; */
  margin: 0 auto;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
}

.compelete-text {
  font-size: 1.875rem;
  font-family: "KBold";
  color: #4f4f4f;
  text-align: center;
}

.compelete-img-gradation {
  /* width: 17.5625rem;
    height: 0.9375rem; */
  width: 300px;
  height: 25px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  /* background: radial-gradient(circle, rgba(58, 58, 58, 0), rgba(58, 58, 58, 0.3)); */
  /* backdrop-filter: blur(50px);  */
  /* -webkit-backdrop-filter: blur(50px); */
  margin: 0 auto;

  position: absolute;
  top: 14.125rem;
}

.compelete-btn {
  width: 21.5625rem;
  height: 2.6875rem;
  line-height: 2.6875rem;
  background-color: #d82356;
  color: #fff;
  border-radius: 0.9375rem;
  text-align: center;
  font-size: 1.5625rem;
  font-family: "Pretendard Variable";
  font-weight: 600;
}

/* 모달창 */
/* .modal-wrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-box{
    position: absolute;
    top: calc(50% - 8.5rem);
    left: calc(50% - 10.15625rem);

    display: flex;
    flex-direction: column;
    width: 20.3125rem;
    height: 15rem;
    background-color: #fff;
    border-radius: 0.625rem;
    align-items: center;
    justify-content: center;
}

.modal-title{
    font-family: "Bold";
    font-size: 1.125rem;
    margin: 0.75rem 0 0.375rem 0;
}

.modal-subtitle{
    font-family: "Regular";
    font-size: 0.8125rem;
    margin: 0.375rem 0 0.75rem 0;
}

.modal-btn__wrapper{
    display: flex;
    margin: 1.25rem auto;
}

.modal-cancle-btn{
    width: 7.875rem;
    height: 1.875rem;
    text-align: center;
    line-height: 1.875rem;
    border: 0.0625rem solid #838383;
    border-radius: 0.625rem;
    
    font-family: "Bold";
    font-size: 1.125rem;
    color: #838383;
    margin: 0 0.3125rem;
}

.modal-check-btn{
    width: 7.875rem;
    height: 1.875rem;
    text-align: center;
    line-height: 1.875rem;
    border: 0.0625rem solid #D82356;
    border-radius: 0.625rem;
    background-color: #D82356;
    
    font-family: "Bold";
    font-size: 1.125rem;
    color: #fff;
    margin: 0 0.3125rem;
} */
