.order_storage {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 3.5rem;
}

.order_storage__container {
  display: flex;
  flex-direction: column;
}

.order_storage__list {
  margin-top: 1.5rem;
  border-top: 0.3rem solid #d82356;
}

/* .order-box.selected {
  width: 100%;
  background: var(--button, #ffeaef);
  padding: 3% 0;
}

.order-box {
  width: 100%;
  background-color: #fff;
  padding: 3% 0;
  border-top: 0.3vh solid #dadada;
} */

.status-bar {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 2rem;
  margin: 0 auto;
  justify-content: space-between;
}

.status-date {
  font-size: 12px;
  color: #838383;
}

.status-box.selected {
  color: #d82356;
  font-size: 0.7rem;
  width: 3.5rem;
  height: 50%;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
}

.status-box {
  color: #838383;
  border: 1px solid #838383;
  font-size: 0.7rem;
  width: 3.5rem;
  height: 50%;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
}

.order-content {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 70%;
  margin: 0 auto;
}

.cafe-img {
  width: 28%;
  height: 100%;
  border-radius: 10px;
  background-color: #666;
}

/* 빈 주문 내역  */
.empty-order-wrapper {
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-img {
  display: flex;
  width: 8.625rem;
  height: 8.625rem;
  margin-top: 18.19rem;
}

.empty-text {
  color: var(--title, #2e2d2d);
  text-align: center;
  font-family: "Pretendard";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: 130%; /* 1.625rem */
  letter-spacing: -0.0125rem;
}
