.order_progress {
  width: 100%;
  background: linear-gradient(180deg, #fff 34.11%, #ffe2ed 100%);
}

.order_progress__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.64rem;
  padding-right: 1.51rem;
}

.order_progress__controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.order_progress__close {
  display: flex;
  width: 1.51144rem;
  height: 1.54225rem;
  margin-top: 2.8rem;
}

.order_progress__refresh {
  display: flex;
  width: 1.63738rem;
  height: 1.86356rem;
  margin-top: 2.48rem;
}

.order_progress__pick_up_time img {
  width: 0.9375rem;
  height: 0.9375rem;
  margin-right: 0.19rem;
}

.order_progress__pick_up_time {
  display: flex;
  width: fit-content;
  height: 1.375rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #4f4f4f;
  font-family: "Pretendard Variable";
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.00625rem;
  border-radius: 1.25rem;
  border: 1.5px solid #d82356;
  padding-left: 0.44rem;
  padding-right: 0.5rem;
  margin-left: auto;
  margin-top: 0.47rem;
}

.order_progress__num {
  color: #4f4f4f;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 4.0625rem */
  letter-spacing: -0.03125rem;
  margin-top: 3.63rem;
  margin-bottom: 0.75rem;
}

.order_progress__bar {
  display: flex;
  width: 13.375rem;
  height: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.69rem;
}

.order_progress__img {
  display: flex;
  width: 16.0625rem;
  height: 16.0625rem;
  margin-left: auto;
  margin-right: auto;
}

.animatedIcon img {
  animation: motion 0.53s linear 0s infinite alternate;
}

@keyframes motion {
  0% {
    margin-top: 0px;
    margin-left: 1px;
  }
  50% {
    margin-top: 3px;
    margin-left: 0px;
  }
  100% {
    margin-top: 10px;
  }
}

.order_progress__status {
  color: var(--title, #2e2d2d);
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: 130%; /* 1.625rem */
  letter-spacing: -0.0125rem;
  margin-top: 0.56rem;
  margin-bottom: 0.31rem;
}

.order_progress__guide {
  color: var(--title, #2e2d2d);
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 1.3rem */
  letter-spacing: -0.01rem;
}

.order_progress__detail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.375rem;
  height: 1.6875rem;
  border-radius: 0.625rem;
  border: 1px solid var(--frame-text, #838383);
  color: #838383;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 1.4625rem */
  letter-spacing: -0.01125rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

.order_progress__cancel {
  color: #838383;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 0.975rem */
  letter-spacing: -0.0075rem;
  margin-top: 4.25rem;
  margin-bottom: 3.63rem;
}

.order_progress__point {
  display: flex;
  justify-content: center;
  width: 10.125rem;
  height: 2.44275rem;
  background: url(../../../assets//images/bg_earn_point_info.png) no-repeat
    center center;
  background-size: cover;
  color: #fff;
  font-family: "Pretendard Variable";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 0.975rem */
  letter-spacing: -0.0075rem;
  margin: 0.69rem auto 7.12rem auto;
}

.order_progress__point_text {
  margin-top: 0.96rem;
  margin-bottom: 0.48rem;
}
