.cart-item-count {
  position: absolute;
  top: 0.825rem;
  /* transform: translateX(50%); */
  left: 0.725rem;

  width: 0.77606rem;
  height: 0.77606rem;
  background-color: #d82356;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 0.375rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1rem; /* 266.667% */
}

