/* 모달창 */
.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
  position: absolute;
  top: calc(50% - 8.5rem);
  left: calc(50% - 10.15625rem);

  display: flex;
  flex-direction: column;
  width: 20.3125rem;
  height: fit-content;
  background-color: #fff;
  border-radius: 0.625rem;
  align-items: center;
  justify-content: center;
}

.modal-box img {
  width: 3.125rem;
  height: 3.125rem;
  margin-top: 1.81rem;
}

.modal-title {
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 1.125rem;
  margin: 1.56rem auto 0.56rem;
  text-align: center;
}

.modal-subtitle {
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-size: 0.8125rem;
  margin-left: auto;
  margin-right: auto;
}

.modal-btn__wrapper {
  display: flex;
  margin: 2.44rem auto 2.69rem;
}

.modal-cancle-btn {
  width: 7.875rem;
  height: 1.875rem;
  text-align: center;
  line-height: 1.875rem;
  border: 0.0625rem solid #838383;
  border-radius: 0.625rem;

  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 1.125rem;
  color: #838383;
  margin: 0 0.3125rem;
}

.modal-check-btn {
  width: 7.875rem;
  height: 1.875rem;
  text-align: center;
  line-height: 1.875rem;
  border: 0.0625rem solid #d82356;
  border-radius: 0.625rem;
  background-color: #d82356;
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 1.125rem;
  color: #fff;
  margin: 0 0.3125rem;
}
