.cart-page {
  display: flex;
  width: 100%;
  height: 94vh;
}

.order-btn {
  display: flex;
  width: 23.4375rem;
  height: 3.6875rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #d82356;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-align: center;
  font-family: "Bold";
  font-size: 1.125rem;
  line-height: 130%; /* 1.4625rem */
  letter-spacing: -0.01125rem;
  justify-content: center;
  align-items: center;
}
