.store_search {
  height: 94vh;
  width: 100%;
}

.store_search_form {
  display: flex;
  align-items: center;
  width: 90%;
  height: 2.5rem;
  border-radius: 0.5rem;
  background: #fff5fa;
  margin: 1.06rem auto 2.06rem;
}

.store_search_form img {
  width: 1.1875rem;
  height: 1.1875rem;
  margin-left: 0.81rem;
  margin-right: 0.63rem;
}

.store_search_input {
  border: none;
  width: 83%;
  background: #fff5fa;
  color: #838383;
  font-family: "Pretendard Variable";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 1.3rem */
  letter-spacing: -0.01rem;
  outline: none;
}
