.payment-success-page {
  width: 100%;
}

.payment-fail-page {
  width: 100%;
}

.payment-redirect-page__berry {
  display: flex;
  margin-top: 16.75rem;
  margin-left: auto;
  margin-right: auto;
}

.payment-redirect-page__title {
  color: #242424;
  text-align: center;
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 2.03125rem */
  letter-spacing: -0.01563rem;
  margin-top: 2.28rem;
}

.payment-success-page__done {
  display: flex;
  width: 21.5625rem;
  height: 2.6875rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  background: #d82356;
  color: #fff;
  text-align: center;
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 130%; /* 2.03125rem */
  letter-spacing: -0.01563rem;
  margin-top: 10.12rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6.94rem;
}

.payment-fail-page__done {
  display: flex;
  width: 21.5625rem;
  height: 2.6875rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  background: #838383;
  color: #fff;
  text-align: center;
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 130%; /* 2.03125rem */
  letter-spacing: -0.01563rem;
  margin-top: 10.12rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6.94rem;
}
