.event-div {
  width: 100%;
  height: 94vh;
  padding-top: 4.44rem;
}

.eventing-img {
  margin-top: 6rem;
  width: 100%;
  border-top: 0.3rem solid #d82356;
  padding-top: 5.38rem;
  margin-top: 1.5rem;
}
