.packaging-status-page__title {
  display: flex;
  color: #000;
  text-align: center;
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 130%; /* 2.4375rem */
  letter-spacing: -0.01875rem;
  margin-top: 6.5rem;
  margin-left: 1.69rem;
  margin-right: 5.25rem;
}

.packaging-status-page__content__title {
  display: flex;
  color: #4f4f4f;
  text-align: center;
  font-family: "Pretendard Variable";
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 130%; /* 1.21875rem */
  letter-spacing: -0.00938rem;
  white-space: nowrap;
  margin: 0.44rem 13.81rem 2.88rem 1.69rem;
}

.packaging-status-page__event-img {
    display: flex;
  margin: 0 auto 2.88rem auto;
}

.packaging-status-page__btn {
  display: flex;
  flex-direction: column;
  width: 21.5625rem;
  height: 3.0625rem;
  border-radius: 0.1875rem;
  border: 1px solid #dadada;
  background: #fff;
  flex-direction: row;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.44rem;
}

.packaging-status-page__btn__img {
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  margin: auto 1.44rem auto 1.12rem;
}

.packaging-status-page__text {
  color: #000;
  font-family: "Pretendard Variable";
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 130%; /* 1.21875rem */
  letter-spacing: -0.00938rem;
  margin-top: auto;
  margin-bottom: auto;
}

/* .packaging-status-page__event {
  color: var(--kakao-logo, #d82356);
  font-family: "Pretendard Variable";
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 130%;
  letter-spacing: -0.00938rem;
  margin-top: auto;
  margin-bottom: auto;
} */

.packaging-status-page__notice {
  display: flex;
  color: #838383;
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 130%; /* 1.21875rem */
  letter-spacing: -0.00938rem;
  align-items: center;
  justify-content: center;
  margin: 0.5rem auto 6.94rem;
}
