.coupon-page {
  display: flex;
  width: 100%;
  padding-top: 4.44rem;
}

.coupon-page__coupon {
  display: flex;
  width: 100%;
  height: 87vh;
  overflow-y: auto;
  margin: 1.5rem auto 0 auto;
  border-top: 0.3rem solid #d82356;
}

.coupon-page__coupon-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 3.44rem;
}

.coupon-page__coupon-item {
  display: flex;
  width: auto;
  height: 9rem;
  flex-shrink: 0;
  background: #fff;
  border-radius: 0.8125rem;
  border: 1px solid #bababa;
  flex-direction: column;
  margin: 0 1.5rem 1.19rem 1.5rem;
}

.coupon-page__coupon-item__name {
  color: #d82356;
  font-family: "Pretendard Variable";
  font-weight: 800;
  font-size: 1.625rem;
  line-height: 130%; /* 2.1125rem */
  margin-left: 1.19rem;
  margin-top: 1.13rem;
}

.coupon-page__coupon-item__publisher {
  color: #4f4f4f;
  text-align: center;
  font-family: "Pretendard Variable";
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 130%; /* 1.1375rem */
  text-align: left;
  margin-left: 1.25rem;
  margin-top: 0.81rem;
}

.coupon-page__coupon-item__expirationDate {
  color: #838383;
  font-family: "Pretendard Variable";
  font-weight: 600;
  font-size: 0.6875rem;
  line-height: 130%; /* 0.89375rem */
  text-align: left;
  margin-left: 1.25rem;
  margin-top: 0.31rem;
}

.coupon-page__coupon-item__description {
  color: #838383;
  font-family: "Pretendard Variable";
  font-weight: 600;
  font-size: 0.6875rem;
  line-height: 130%; /* 0.89375rem */
  text-align: left;
  margin-left: 1.25rem;
}

.coupon-page__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}
