.main-container{
    width: 100%;
}

.content-container{
    height: 94vh;
}


/* 빈 주문 내역  */

.empty-order-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 90%;
    width: 90%;
    margin: 0 auto;
}

.empty-img-wrapper{

}

.empty-img{

}

.empty-text{
    font-size: 1.5rem;
    font-family: "KBold";
    color: #838383;
}