.payment-page {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.payment-page__cafe-info {
  display: flex;
  margin-left: 1.56rem;
  margin-top: 1.38rem;
  margin-bottom: 0.44rem;
}

.payment-page__cafe-info__img {
  display: flex;
  width: 1.875rem;
  height: 1.875rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
}

.payment-page__cafe-info__name {
  color: #000;
  font-family: "Bold";
  font-size: 1.25rem;
  line-height: 130%; /* 1.625rem */
  letter-spacing: -0.0125rem;
  margin-left: 0.75rem;
}

.payment-page__order-info {
  display: flex;
  flex-shrink: 0;
  background: #fff;
  flex-direction: column;
}

.payment-page__order-info__item {
  display: flex;
  height: fit-content;
  flex-shrink: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.payment-page__order-info__item__img {
  display: flex;
  width: 4.8125rem;
  height: 4.8125rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #f4f4f4;
  margin-right: 0.69rem;
}

.payment-page__order-info__item__name {
  display: flex;
  color: #000;
  font-family: "Medium";
  font-size: 0.9375rem;
  line-height: 130%; /* 1.21875rem */
  letter-spacing: -0.00938rem;
}
.payment-page__order-info__item__option {
  display: flex;
  flex-direction: column;
  color: #838383;
  font-family: "Light";
  font-size: 0.625rem;
  line-height: 130%; /* 0.8125rem */
  letter-spacing: -0.00625rem;
  margin-bottom: 0.31rem;
}

.payment-page__order-info__item__line {
  width: 21.5625rem;
  height: 0rem;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #dadada;
  margin-left: auto;
  margin-right: auto;
}

.payment-page__line {
  display: flex;
  width: 100%;
  height: 0.25rem;
  flex-shrink: 0;
  background: #dadada;
  margin-top: 1rem;
  margin-bottom: 1.44rem;
}

.payment-page__packaging-status {
  display: flex;
  color: #4f4f4f;
  font-family: "Bold";
  font-size: 0.9375rem;
  line-height: 130%; /* 1.21875rem */
  letter-spacing: -0.00938rem;
  margin-left: 1.62rem;
}

.payment-page__payment-btn {
  display: flex;
  width: 23.4375rem;
  height: 3.6875rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #d82356;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-align: center;
  font-family: "Bold";
  font-size: 1.125rem;
  line-height: 130%; /* 1.4625rem */
  letter-spacing: -0.01125rem;
  justify-content: center;
  align-items: center;
}
