.payment-page {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.payment-page__cafe-info {
  display: flex;
  padding-left: 1.56rem;
  padding-right: 1.56rem;
  padding-top: 1.38rem;
  padding-bottom: 0.44rem;
}

.payment-page__cafe-info__img {
  display: flex;
  width: 1.875rem;
  height: 1.875rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
}

.payment-page__cafe-info__name {
  color: #000;
  font-family: "Bold";
  font-size: 1.25rem;
  line-height: 130%; /* 1.625rem */
  letter-spacing: -0.0125rem;
  margin-left: 0.75rem;
}

.payment-page__order-info {
  display: flex;
  flex-shrink: 0;
  background: #fff;
  flex-direction: column;
}

.payment-page__order-info__item {
  display: flex;
  height: fit-content;
  flex-shrink: 0;
  padding: 0.7rem 1.5rem;
}

.payment-page__order-info__item__img {
  display: flex;
  width: 4.8125rem;
  height: 4.8125rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  margin-right: 0.69rem;
}

.payment-page__order-info__item__name {
  display: flex;
  color: #000;
  font-family: "Medium";
  font-size: 0.9375rem;
  line-height: 130%; /* 1.21875rem */
  letter-spacing: -0.00938rem;
}
.payment-page__order-info__item__option {
  display: flex;
  flex-direction: column;
  color: #838383;
  font-family: "Light";
  font-size: 0.625rem;
  line-height: 130%; /* 0.8125rem */
  letter-spacing: -0.00625rem;
  margin-bottom: 0.31rem;
}

.payment-page__order-info__item__control {
  display: flex;
  margin-left: auto;
  flex-direction: column;
}

.payment-page__order-info__item__delete {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-bottom: auto;
}

.payment-page__order-info__item__count {
  display: flex;
  width: 3.6875rem;
  height: 1.0625rem;
  flex-shrink: 0;
  fill: #fff;
  border: 0.5px solid #dadada;
  justify-content: center;
  align-items: center;
  padding: 0.24rem 0.63rem;
  margin-left: auto;
  margin-top: auto;
}

.payment-page__order-info__item__line {
  width: auto;
  height: 0rem;
  flex-shrink: 0;
  border: 0.1px solid #dadada;
}

.payment-page__line {
  display: flex;
  width: 100%;
  height: 0.25rem;
  flex-shrink: 0;
  background: #dadada;
  margin-top: 1.56rem;
  margin-bottom: 1.56rem;
}

.payment-page__packaging-status {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.payment-page__title {
  display: flex;
  color: #4f4f4f;
  font-family: "Bold";
  font-size: 20px;
  line-height: 130%; /* 1.21875rem */
  letter-spacing: -0.00938rem;
  margin-bottom: 1.06rem;
}

.payment-page__packaging-status__container {
  display: flex;
  width: auto;
  height: 3.9375rem;
  flex-shrink: 0;
  border-radius: 0.1875rem;
  border: 1.5px solid #838383;
  background: #ffe2ed;
  align-items: center;
  color: #000;
  text-align: center;
  font-family: "SemiBold";
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 1.21875rem */
  letter-spacing: -0.00938rem;
  margin-top: 1.13rem;
}

.payment-page__packaging-status__img {
  margin-right: 1rem;
  margin-left: 1rem;
}

.payment-page__pay-info {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.payment-page__coupone {
  display: flex;
  margin-bottom: 1.37rem;
}

.payment-page__coupone__apply {
  display: flex;
  margin-left: auto;
}

.payment-page__coupone-price {
  color: #000;
  font-family: "Bold";
  font-size: 0.9375rem;
  line-height: 130%; /* 1.21875rem */
  letter-spacing: -0.00938rem;
}

.payment-page__coupone-btn {
  width: 3.75rem;
  height: 1.5rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #ffe2ed;
  color: #4f4f4f;
  font-family: "Bold";
  font-size: 0.6875rem;
  line-height: 130%; /* 0.89375rem */
  letter-spacing: -0.00688rem;
  padding: 0.31rem 0.69rem;
  margin-left: 0.5rem;
}

.payment-page__content {
  color: #000;
  font-family: "Medium";
  font-size: 0.9375rem;
  line-height: 130%; /* 1.21875rem */
  letter-spacing: -0.00938rem;
}

.payment-page__order-info__pay__line {
  width: auto;
  height: 0rem;
  flex-shrink: 0;
  border: 0.1px solid #dadada;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.payment-page__productAmount {
  display: flex;
  margin-bottom: 0.56rem;
}

.payment-page__discountAmount {
  display: flex;
}

.payment-page__content-price {
  display: flex;
  color: #000;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 1.21875rem */
  letter-spacing: -0.00938rem;
  margin-left: auto;
}

.payment-page__payment {
  display: flex;
}

.payment-page__total-price {
  color: #d82356;
  text-align: right;
  font-family: "Bold";
  font-size: 0.9375rem;
  line-height: 130%; /* 1.21875rem */
  letter-spacing: -0.00938rem;
  margin-left: auto;
}

.payment-page__notice {
  color: #838383;
  text-align: center;
  font-family: "Regular";
  font-size: 0.9375rem;
  line-height: 130%; /* 1.21875rem */
  letter-spacing: -0.00938rem;
  margin-top: 4.12rem;
  margin-bottom: 0.62rem;
}

.payment-page__payment-btn {
  display: flex;
  width: 23.4375rem;
  height: 3.6875rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #d82356;
  color: #fff;
  text-align: center;
  font-family: "Bold";
  font-size: 1.125rem;
  line-height: 130%; /* 1.4625rem */
  letter-spacing: -0.01125rem;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.94rem;
}
