@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
.App {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  background-color: white;
  flex-direction: column;
  position: relative;
}

/* iphone 14 Pro */
@media only screen and (max-width: 400px) {
  .App {
    max-width: 390px;
    /* height: 94vh; */
    background-color: white;
  }

  .navbar {
    left: calc(50% - 207px); /* Center the navbar */
    right: calc(50% - 207px); /* Center the navbar */
  }

  .top_header {
    left: calc(50% - 207px); /* Center the navbar */
    right: calc(50% - 207px); /* Center the navbar */
  }

  .top_header_page {
    left: calc(50% - 207px); /* Center the navbar */
    right: calc(50% - 207px); /* Center the navbar */
  }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
  .App {
    max-width: 430px;
    /* height: 94vh; */
    background-color: white;
  }

  .navbar {
    left: calc(50% - 215px); /* Center the navbar */
    right: calc(50% - 215px); /* Center the navbar */
  }

  .top_header {
    left: calc(50% - 215px); /* Center the navbar */
    right: calc(50% - 215px); /* Center the navbar */
  }

  .top_header_page {
    left: calc(50% - 215px); /* Center the navbar */
    right: calc(50% - 215px); /* Center the navbar */
  }
}

@media (min-width: 800px) {
  .App {
    width: 600px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 36px;
  }

  .navbar {
    left: calc(50% - 300px); /* Center the navbar */
    right: calc(50% - 300px); /* Center the navbar */
  }

  .top_header {
    left: calc(50% - 300px); /* Center the navbar */
    right: calc(50% - 300px); /* Center the navbar */
  }

  .top_header_page {
    left: calc(50% - 300px); /* Center the navbar */
    right: calc(50% - 300px); /* Center the navbar */
  }
}

/* 
@font-face {
  font-family: "Pretendard GOV";
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css") format('woff2');
} */
/* 
@font-face {
  font-family: "Bold";
  font-weight: bold;
  font-display: swap;
  src: local("Pretendard"),
    url("./assets//font//Pretendard-Bold.woff2") format('woff2');
}

@font-face {
  font-family: "ExtraLight";
  font-display: swap;
  src: local("Pretendard"),
    url("./assets//font//Pretendard-ExtraBold.woff2") format('woff2');
}

@font-face {
  font-family: "Light";
  font-display: swap;
  src: local("Pretendard"),
    url("./assets//font//Pretendard-Light.woff2") format('woff2');
}

@font-face {
  font-family: "Medium";
  font-display: swap;
  src: local("Pretendard"),
    url("./assets//font//Pretendard-Medium.woff2") format('woff2');
}

@font-face {
  font-family: "Regular";
  font-display: swap;
  src: local("Pretendard"),
    url("./assets//font//Pretendard-Regular.woff2") format('woff2');
}

@font-face {
  font-family: "SemiBold";
  font-display: swap;
  src: local("Pretendard"),
    url("./assets//font//Pretendard-SemiBold.woff2") format('woff2');
}
*/

@font-face {
  font-family: "KBold";
  src: url("./assets/font/Kotrahope-Bold.otf");
}
/* app에 로딩화면 css추가 */
.loading-div {
  /* width: 100%;
  height: 100vh; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 위에 주석 아니면 이거 쓰기 */
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-loader {
  position: relative;
  border: none;
  background-image: url("./assets/images/ic_loading.png");
  width: 6.25rem;
  height: 6.25rem;
  animation: spin 2s linear infinite; /* 회전하는 애니메이션을 적용합니다. */
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-berry {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loading-berry img {
  width: 2.08431rem;
  height: 2.08431rem;
}
