.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  background-color: white;
  flex-direction: column;
  position: relative;
}

/* iphone 14 Pro */
@media only screen and (max-width: 400px) {
  .App {
    text-align: center;
    max-width: 390px;
    height: 94vh;
    background-color: white;
    padding-top: 2.75rem;
  }
  .bottom_navbar {
    left: calc(50% - 207px); /* Center the navbar */
    right: calc(50% - 207px); /* Center the navbar */
  }
  .top_header {
    left: calc(50% - 207px); /* Center the navbar */
    right: calc(50% - 207px); /* Center the navbar */
  }
}

@media (min-width: 800px) {
  .App {
    text-align: center;
    width: 600px;
    height: 94vh;
    background-color: white;
    padding-top: 2.75rem;
  }
  .bottom_navbar {
    left: calc(50% - 300px); /* Center the navbar */
    right: calc(50% - 300px); /* Center the navbar */
  }

  .top_header {
    left: calc(50% - 300px); /* Center the navbar */
    right: calc(50% - 300px); /* Center the navbar */
  }
}

@font-face {
  font-family: "Bold";
  src: url("./assets/font/Pretendard-Bold.otf");
}

@font-face {
  font-family: "ExtraBold";
  src: url("./assets/font/Pretendard-ExtraBold.otf");
}

@font-face {
  font-family: "ExtraLight";
  src: url("./assets/font/Pretendard-ExtraLight.otf");
}

@font-face {
  font-family: "Light";
  src: url("./assets/font/Pretendard-Light.otf");
}

@font-face {
  font-family: "Medium";
  src: url("./assets/font/Pretendard-Medium.otf");
}

@font-face {
  font-family: "Regular";
  src: url("./assets/font/Pretendard-Regular.otf");
}

@font-face {
  font-family: "SemiBold";
  src: url("./assets/font/Pretendard-SemiBold.otf");
}
