.homepage {
  width: 100%;
}

/* 바로 주문 */
.quick-order {
  width: 90%;
  height: 13%;
  margin: 0 auto;
}

.quick-order-text {
  /* 글자 */
  font-family: "Bold";
  font-size: 1.25rem;
  margin-top: 1rem;
  /* 위쪽, 오른쪽, 아래쪽, 왼쪽*/
}

.quick-order-list {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  gap: 3%;
}

/* 로그인 되어 있을 때 */
.login-box {
  width: 48%;
  height: 100%;

  box-shadow: 0.25px 0.25rem 0.2rem rgba(0, 0, 0, 0.2); /* 그림자 추가 */
  border-radius: 0.5rem;
  text-decoration: none;
}

.quick-order-item {
  height: 100%;
}

.item-name {
  color: #4f4f4f;
  font-family: "Bold";
  font-size: 0.9375rem;
  margin: 13% 7% 0 7%;
}

.item-address {
  font-family: "ExtraLight";
  font-size: 0.75rem;
  color: black;
  margin: 15% 7% 0 7%;
}
.item-detail {
  font-family: "ExtraLight";
  font-size: 0.75rem;
  color: black;
  margin: 0 7% 0 7%;
}

/* 로그인 되어있지 않을 때 */
.not-login-box {
  width: 100%;
  height: 100%;
  display: flex; /* Flexbox를 사용해 가로 정렬 */
  align-items: center;
  box-shadow: 0.25px 0.25rem 0.2rem rgba(0, 0, 0, 0.2); /* 그림자 추가 */
  border-radius: 0.5rem;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  font-family: "Bold";
}

.profile-icon {
  margin: 0 5%;
}

/* event */
.event {
  width: 90%;
  height: 10%;
  margin: 0 auto;
}

.event-link {
  width: 100%;
  height: 100%;
}
.event-icon {
  width: 100%;
}

/* very pick */
.very-pick {
  width: 90%;
  margin: 0 auto;
}

.very-pick-text {
  width: 100%;
  font-family: "Bold";
  font-size: 1.25rem;
}

.very-pick-list {
  width: 100%;
}

.very-pick-item {
  width: 100%;
  text-decoration: none;
}

.pick-name {
  width: 100%;
  margin: 0.5rem 0 0 0;
  font-size: 1.0625rem;
  font-family: "Medium";
  color: black;
}

.pick-address {
  width: 100%;
  font-size: 0.75rem;
  font-family: "Regular";
  color: #838383;
}
.pick-detail {
  width: 100%;
}

/* 사업자 정보 */
.business-info {
  /* text-align: center; */
  width: 100%;
  height: 10%;
  margin: 0 auto;
}

.business-name {
  /* 위쪽, 오른쪽, 아래쪽, 왼쪽 */
  margin: 10% 3% 1% 3%;
  font-family: "Medium";
}

.business-list {
  margin: 0 3% 10.7rem 3%;
  font-family: "Light";
  font-size: 12%;
}
