.home {
  width: 100%;
  padding-top: 2rem;
  z-index: 1;
}

.home::-webkit-scrollbar {
  display: none;
}

.home_individual_benefits {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 9.4375rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  margin-top: 1.13rem;
  margin-left: auto;
  margin-right: auto;
}

.home_individual_user {
  color: var(--title, #2e2d2d);
  font-family: Pretendard;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.0625rem; /* 121.429% */
  margin-top: 2.44rem;
  margin-left: 2.19rem;
}

.home_individual_user_name {
  font-weight: 800;
}

.home_individual_point {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #2e2d2d;
  font-family: Pretendard;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 1.06rem;
  margin-left: 2.19rem;
}

.home_individual_coupon_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.25rem;
  height: 1.75rem;
  border-radius: 0.5rem;
  background: #ffeaef;
  color: var(--signature, #d82356);
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 0.975rem */
  letter-spacing: -0.0075rem;
  margin-left: 1.56rem;
}

.home_individual_welcome {
  color: #eb8fa9;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 1.3rem */
  letter-spacing: -0.01rem;
  margin-top: 3rem;
  margin-left: 2rem;
}

.home_individual_not_login {
  display: flex;
  align-items: center;
  color: #4f4f4f;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 1.625rem */
  letter-spacing: -0.0125rem;
  margin-top: 0.38rem;
  margin-left: 2rem;
}

.home_individual_login_btn {
  width: 2rem;
  height: 2rem;
  margin-left: auto;
  margin-right: 2rem;
}

.home_event {
  position: relative;
  width: 100%;
  height: 6.25rem;
  margin-top: 2.81rem;
  overflow: hidden;
}

.home_event_slide_active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.home_event_banner {
  display: flex;
  width: 21.5625rem;
  height: 6.25rem;
  margin-left: auto;
  margin-right: auto;
}

.home_event_slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.home_event_slide_index {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8125rem;
  height: 0.6875rem;
  border-radius: 0.3125rem;
  background: rgba(131, 131, 131, 0.5);
  position: absolute;
  top: 0.3rem;
  right: 2.3rem;
  color: var(--title, #2e2d2d);
  text-align: right;
  font-family: Pretendard;
  font-size: 0.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 0.65rem */
  letter-spacing: -0.005rem;
}

@media (min-width: 800px) {
  .home_event_slide_index {
    right: 7.5rem;
  }
}

.home_event_slide_index_now {
  color: #d9d9d9;
}

.home_berry_pick {
  width: 90%;
  color: var(--title, #2e2d2d);
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 1.4625rem */
  letter-spacing: -0.01125rem;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.home_berry_pick_list {
  width: 100%;
  margin-top: 0.5rem;
}

.home_berry_pick_item {
  position: relative;
  width: 100%;
  height: 13.5625rem;
  border-radius: 0.5rem;
  background: #fff;
  overflow: hidden;
  margin-bottom: 1.31rem;
  box-shadow: 0.25px 0.25rem 0.2rem rgba(0, 0, 0, 0.2);
}

.home_berry_pick_cafe_img {
  width: 100%;
  height: 7.625rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  object-fit: cover;
}

.home_berry_pick_cafe_close {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7.625rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  z-index: 1;
  object-fit: cover;
}

.home_berry_pick_cafe_name {
  color: var(--Dark, #1e232c);
  font-family: Pretendard;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 1.38125rem */
  letter-spacing: -0.01063rem;
  margin-top: 0.62rem;
  margin-left: 0.69rem;
  margin-bottom: 0.06rem;
}

.home_berry_pick_cafe_address {
  color: #838383;
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 0.975rem */
  letter-spacing: -0.0075rem;
  margin-left: 0.69rem;
}

.home_berry_pick_cafe_event {
  display: flex;
  align-items: center;
  color: #d82356;
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 0.975rem */
  letter-spacing: -0.0075rem;
  margin-top: 0.62rem;
  margin-left: 0.69rem;
  margin-bottom: 1.12rem;
}

.home_berry_pick_cafe_event_icon {
  width: 1.00294rem;
  height: 1.125rem;
  margin-right: 0.37rem;
}

.home_business_info {
  display: flex;
  flex-direction: column;
  margin-top: 8.81rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5.0625rem;
  width: 100%;
  height: 11.9375rem;
  background: #f5f5f5;
}

.home_business_info_name {
  color: var(--frame-text, #838383);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 2.25rem;
  margin-left: 2.12rem;
  margin-bottom: 1.19rem;
}

.home_business_info_content {
  color: var(--frame-text, #838383);
  font-family: Pretendard;
  font-size: 0.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 2.12rem;
  margin-bottom: 2.31rem;
}
