.homepage {
  width: 100%;
  padding-top: 2rem;
  z-index: 1;
}

.homepage::-webkit-scrollbar {
  display: none;
}

/* 바로 주문 */
.quick-order {
  width: 90%;
  /* height: 13%; */
  margin: 0 auto;
}

.quick-order-text {
  /* 글자 */
  font-family: "Pretendard Variable";
  font-weight: bold;
  font-style: normal;
  font-size: 1.25rem;
  margin-top: 1rem;
  /* 위쪽, 오른쪽, 아래쪽, 왼쪽*/
}

.quick-order-list {
  width: 100%;
  /* height: 80%; */
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 3%;
  white-space: nowrap;
  padding: 1rem 0.15rem;
}

.quick-order-list::-webkit-scrollbar {
  display: none;
}

/* 로그인 되어 있을 때 */
.login-box {
  width: 10.375rem;
  height: 7rem;
  box-shadow: 0.25px 0.25rem 0.2rem rgba(0, 0, 0, 0.2); /* 그림자 추가 */
  border-radius: 0.5rem;
  text-decoration: none;
}
.quick-order-item {
  padding: 0 4rem 0 0;
  width: 10.375rem;
}

.item-name {
  color: #4f4f4f;
  font-family: "Pretendard Variable";
  font-weight: bold;
  font-style: normal;
  font-size: 0.9375rem;
  margin: 1rem 7% 0 7%;
  white-space: nowrap; /* 텍스트를 한 줄에 나타내기 */
  overflow: hidden; /* 텍스트가 넘어갈 경우 숨기기 */
  text-overflow: ellipsis; /* 생략 부호(...) 표시 */
}

.item-detail {
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  color: black;
  margin: 2rem 7% 0 7%;
  white-space: nowrap; /* 텍스트를 한 줄에 나타내기 */
  overflow: hidden; /* 텍스트가 넘어갈 경우 숨기기 */
  text-overflow: ellipsis; /* 생략 부호(...) 표시 */
}

.item-price {
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  color: black;
  margin: 0 7% 0 7%;
}

/* 로그인 되어있지 않을 때 */
.not-login-box {
  width: 99%;
  height: 7rem;
  display: flex; /* Flexbox를 사용해 가로 정렬 */
  align-items: center;
  box-shadow: 0.25px 0.25rem 0.2rem rgba(0, 0, 0, 0.2); /* 그림자 추가 */
  border-radius: 0.5rem;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  font-family: "Pretendard Variable";
  font-weight: bold;
  font-style: normal;
}

.profile-icon {
  margin: 0 5%;
}

/* event */
.event {
  width: 90%;
  margin: 0 auto;
}

.event-icon {
  width: 100%;
}

/* very pick */
.very-pick {
  width: 90%;
  margin: 0 auto;
}

.very-pick-text {
  width: 100%;
  font-family: "Pretendard Variable";
  font-weight: bold;
  font-style: normal;
  margin-top: 4%;
  margin-bottom: 2.5%;
  font-size: 1.25rem;
}

.very-pick-list {
  width: 100%;
}

.very-pick-item {
  width: 100%;
  text-decoration: none;
  overflow: hidden;
}

.pick-detail-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0.25px 0.25rem 0.2rem rgba(0, 0, 0, 0.2); /* 그림자 추가 */
  border-radius: 0.5rem;
  margin: 0 0 1rem 0;
}

/* 가게 이미지 */
.pick-detail {
  width: 100%;
  height: 7.625rem;
  border-radius: 0.5rem 0.5rem 0 0;
  object-fit: cover;
}

.closed-image-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  height: 7.625rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closed-image {
  position: absolute;
  width: 50px; /* 원하는 가로 크기 */
  height: 50px;
  background-size: cover;
  background-position: center;
}

.pick-info {
  height: 5rem;
  margin: 0.62rem 0.69rem;
}

.pick-name {
  width: 100%;
  font-size: 1.0625rem;
  font-family: "Pretendard Variable";
  font-weight: 600;
  font-style: normal;
  color: black;
}

.pick-address {
  width: 100%;
  font-size: 0.75rem;
  margin-top: 0.2rem;
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-style: normal;
  color: #838383;
}

.pick-event-info {
  display: flex;
  margin-top: 0.7rem;
}

.pick-eventTextIcon {
  width: 1rem; /* Set a fixed width for the icon if needed */
  height: 1.125rem;
  margin-right: 0.5rem; /* Adjust margin as needed */
}

.pick-eventText {
  width: 100%;
  font-size: 0.75rem;
  margin-top: 0.1rem;
  font-family: "Pretendard Variable";
  font-weight: bold;
  font-style: normal;
  color: #d82356;
}

/* 사업자 정보 */
.business-info {
  /* text-align: center; */
  width: 100%;
  height: 10%;
  margin: 0 auto;
}

.business-name {
  /* 위쪽, 오른쪽, 아래쪽, 왼쪽 */
  margin: 10% 3% 1% 3%;
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-style: normal;
}

.business-list {
  margin: 0 3% 0 3%;
  font-family: "Pretendard Variable";
  font-weight: 300;
  font-style: normal;
  font-size: 10px;
  padding-bottom: 6rem;
}
